wsdl/magento-soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Adobe Commerce (Magento) SOAP API WSDL Reference

  The Adobe Commerce SOAP API exposes the same service contracts as the REST API
  through a WSDL 1.2 interface compliant with WS-I 2.0 Basic Profile.

  WSDL files are dynamically generated by Commerce for each service or
  combination of services using the URL pattern:
    https://{store_domain}/soap/{store_code}?wsdl&services={service_names}

  Examples:
    Single service:
      https://store.example.com/soap/default?wsdl&services=catalogProductRepositoryV1

    Multiple services (comma-separated):
      https://store.example.com/soap/default?wsdl&services=catalogProductRepositoryV1,salesOrderRepositoryV1

    List of all available services:
      https://store.example.com/soap/all?wsdl_list=1

  Authentication:
    SOAP API uses WS-Security UsernameToken (token-based) or OAuth 1.0a.
    The admin token is obtained via the REST API (/V1/integration/admin/token)
    and passed in the WS-Security header.

  Service Naming Conventions:
    Services follow the pattern: {modulePrefix}{ServiceName}V{version}
    Examples:
      catalogProductRepositoryV1       — Product CRUD
      catalogCategoryManagementV1      — Category management
      salesOrderRepositoryV1           — Order retrieval
      salesOrderManagementV1           — Order actions (cancel, hold, etc.)
      salesInvoiceRepositoryV1         — Invoice CRUD
      salesInvoiceManagementV1         — Invoice actions (capture, void, etc.)
      salesShipmentRepositoryV1        — Shipment CRUD
      salesShipmentManagementV1        — Shipment actions
      customerAccountManagementV1      — Customer registration and authentication
      customerRepositoryV1             — Customer CRUD
      customerAddressRepositoryV1      — Customer address management
      customerGroupRepositoryV1        — Customer group management
      checkoutCartManagementV1         — Cart creation and order placement
      checkoutGuestCartManagementV1    — Guest cart management
      quoteCartItemRepositoryV1        — Cart item management
      quoteCartManagementV1            — Admin cart management
      inventoryApiSourceRepositoryV1   — Multi-source inventory source CRUD
      inventoryApiStockRepositoryV1    — Inventory stock management
      inventoryApiSourceItemsRepositoryV1 — Source item quantity management
      taxTaxRateRepositoryV1           — Tax rate management
      taxTaxRuleRepositoryV1           — Tax rule management
      storeStoreRepositoryV1           — Store view information

  This file provides a static reference skeleton for the core service
  contracts. The authoritative WSDL is always the dynamically generated
  version available from your Commerce instance.
-->
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="https://your-store.example.com/soap/default"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
  name="AdobeCommerceSoapApi"
  targetNamespace="https://your-store.example.com/soap/default">

  <!-- ================================================================== -->
  <!-- TYPES                                                                -->
  <!-- ================================================================== -->
  <types>
    <xsd:schema targetNamespace="https://your-store.example.com/soap/default">

      <!-- Authentication -->
      <xsd:complexType name="ApiToken">
        <xsd:sequence>
          <xsd:element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Search Criteria -->
      <xsd:complexType name="FrameworkSearchCriteria">
        <xsd:sequence>
          <xsd:element name="filterGroups" type="tns:FrameworkSearchFilterGroupArray" minOccurs="0"/>
          <xsd:element name="sortOrders" type="tns:FrameworkSortOrderArray" minOccurs="0"/>
          <xsd:element name="pageSize" type="xsd:int" minOccurs="0"/>
          <xsd:element name="currentPage" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FrameworkSearchFilterGroup">
        <xsd:sequence>
          <xsd:element name="filters" type="tns:FrameworkFilterArray" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FrameworkFilter">
        <xsd:sequence>
          <xsd:element name="field" type="xsd:string"/>
          <xsd:element name="value" type="xsd:string"/>
          <xsd:element name="conditionType" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FrameworkSortOrder">
        <xsd:sequence>
          <xsd:element name="field" type="xsd:string"/>
          <xsd:element name="direction" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FrameworkSearchFilterGroupArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:FrameworkSearchFilterGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FrameworkFilterArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:FrameworkFilter" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FrameworkSortOrderArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:FrameworkSortOrder" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Custom Attribute -->
      <xsd:complexType name="FrameworkAttribute">
        <xsd:sequence>
          <xsd:element name="attributeCode" type="xsd:string"/>
          <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FrameworkAttributeArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:FrameworkAttribute" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Product Types -->
      <xsd:complexType name="CatalogDataProductInterface">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="sku" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="attributeSetId" type="xsd:int"/>
          <xsd:element name="price" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="status" type="xsd:int"/>
          <xsd:element name="visibility" type="xsd:int"/>
          <xsd:element name="typeId" type="xsd:string"/>
          <xsd:element name="createdAt" type="xsd:string" minOccurs="0"/>
          <xsd:element name="updatedAt" type="xsd:string" minOccurs="0"/>
          <xsd:element name="weight" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="customAttributes" type="tns:FrameworkAttributeArray" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CatalogDataProductSearchResultsInterface">
        <xsd:sequence>
          <xsd:element name="items" type="tns:CatalogDataProductArray"/>
          <xsd:element name="searchCriteria" type="tns:FrameworkSearchCriteria"/>
          <xsd:element name="totalCount" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CatalogDataProductArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:CatalogDataProductInterface" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Customer Types -->
      <xsd:complexType name="CustomerDataCustomerInterface">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="groupId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="firstname" type="xsd:string"/>
          <xsd:element name="lastname" type="xsd:string"/>
          <xsd:element name="storeId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="websiteId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="createdAt" type="xsd:string" minOccurs="0"/>
          <xsd:element name="updatedAt" type="xsd:string" minOccurs="0"/>
          <xsd:element name="addresses" type="tns:CustomerDataAddressArray" minOccurs="0"/>
          <xsd:element name="customAttributes" type="tns:FrameworkAttributeArray" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CustomerDataAddressInterface">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="customerId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="region" type="xsd:string" minOccurs="0"/>
          <xsd:element name="regionCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="regionId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="countryId" type="xsd:string"/>
          <xsd:element name="street" type="tns:StringArray"/>
          <xsd:element name="telephone" type="xsd:string" minOccurs="0"/>
          <xsd:element name="postcode" type="xsd:string"/>
          <xsd:element name="city" type="xsd:string"/>
          <xsd:element name="firstname" type="xsd:string"/>
          <xsd:element name="lastname" type="xsd:string"/>
          <xsd:element name="email" type="xsd:string" minOccurs="0"/>
          <xsd:element name="isDefaultBilling" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isDefaultShipping" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CustomerDataAddressArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:CustomerDataAddressInterface" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CustomerDataCustomerSearchResultsInterface">
        <xsd:sequence>
          <xsd:element name="items" type="tns:CustomerDataCustomerArray"/>
          <xsd:element name="searchCriteria" type="tns:FrameworkSearchCriteria"/>
          <xsd:element name="totalCount" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CustomerDataCustomerArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:CustomerDataCustomerInterface" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Sales Order Types -->
      <xsd:complexType name="SalesDataOrderInterface">
        <xsd:sequence>
          <xsd:element name="entityId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="incrementId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="status" type="xsd:string" minOccurs="0"/>
          <xsd:element name="state" type="xsd:string" minOccurs="0"/>
          <xsd:element name="customerId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="customerEmail" type="xsd:string" minOccurs="0"/>
          <xsd:element name="customerFirstname" type="xsd:string" minOccurs="0"/>
          <xsd:element name="customerLastname" type="xsd:string" minOccurs="0"/>
          <xsd:element name="createdAt" type="xsd:string" minOccurs="0"/>
          <xsd:element name="updatedAt" type="xsd:string" minOccurs="0"/>
          <xsd:element name="grandTotal" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="subtotal" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="taxAmount" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="shippingAmount" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="discountAmount" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="baseCurrencyCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="orderCurrencyCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="billingAddress" type="tns:SalesDataOrderAddressInterface" minOccurs="0"/>
          <xsd:element name="items" type="tns:SalesDataOrderItemArray" minOccurs="0"/>
          <xsd:element name="payment" type="tns:SalesDataOrderPaymentInterface" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SalesDataOrderAddressInterface">
        <xsd:sequence>
          <xsd:element name="addressType" type="xsd:string"/>
          <xsd:element name="city" type="xsd:string"/>
          <xsd:element name="countryId" type="xsd:string"/>
          <xsd:element name="email" type="xsd:string" minOccurs="0"/>
          <xsd:element name="firstname" type="xsd:string"/>
          <xsd:element name="lastname" type="xsd:string"/>
          <xsd:element name="postcode" type="xsd:string"/>
          <xsd:element name="region" type="xsd:string" minOccurs="0"/>
          <xsd:element name="regionCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="street" type="tns:StringArray"/>
          <xsd:element name="telephone" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SalesDataOrderItemInterface">
        <xsd:sequence>
          <xsd:element name="itemId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="orderId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="sku" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="productId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="productType" type="xsd:string" minOccurs="0"/>
          <xsd:element name="qtyOrdered" type="xsd:decimal"/>
          <xsd:element name="qtyInvoiced" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="qtyShipped" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="price" type="xsd:decimal"/>
          <xsd:element name="rowTotal" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="taxAmount" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="discountAmount" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SalesDataOrderPaymentInterface">
        <xsd:sequence>
          <xsd:element name="entityId" type="xsd:int" minOccurs="0"/>
          <xsd:element name="method" type="xsd:string"/>
          <xsd:element name="amountOrdered" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="amountPaid" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="lastTransId" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SalesDataOrderItemArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:SalesDataOrderItemInterface" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SalesDataOrderSearchResultInterface">
        <xsd:sequence>
          <xsd:element name="items" type="tns:SalesDataOrderArray"/>
          <xsd:element name="searchCriteria" type="tns:FrameworkSearchCriteria"/>
          <xsd:element name="totalCount" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SalesDataOrderArray">
        <xsd:sequence>
          <xsd:element name="item" type="tns:SalesDataOrderInterface" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Utility Types -->
      <xsd:complexType name="StringArray">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Request/Response Wrapper Types -->
      <xsd:element name="catalogProductRepositoryV1GetListRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchCriteria" type="tns:FrameworkSearchCriteria"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="catalogProductRepositoryV1GetListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:CatalogDataProductSearchResultsInterface"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="catalogProductRepositoryV1GetRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sku" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="catalogProductRepositoryV1GetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:CatalogDataProductInterface"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="salesOrderRepositoryV1GetListRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchCriteria" type="tns:FrameworkSearchCriteria"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="salesOrderRepositoryV1GetListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:SalesDataOrderSearchResultInterface"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="salesOrderRepositoryV1GetRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="salesOrderRepositoryV1GetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:SalesDataOrderInterface"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="customerRepositoryV1GetListRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchCriteria" type="tns:FrameworkSearchCriteria"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="customerRepositoryV1GetListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:CustomerDataCustomerSearchResultsInterface"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- ================================================================== -->
  <!-- MESSAGES                                                             -->
  <!-- ================================================================== -->

  <!-- catalogProductRepositoryV1 messages -->
  <message name="catalogProductRepositoryV1GetListRequest">
    <part name="parameters" element="tns:catalogProductRepositoryV1GetListRequest"/>
  </message>
  <message name="catalogProductRepositoryV1GetListResponse">
    <part name="parameters" element="tns:catalogProductRepositoryV1GetListResponse"/>
  </message>
  <message name="catalogProductRepositoryV1GetRequest">
    <part name="parameters" element="tns:catalogProductRepositoryV1GetRequest"/>
  </message>
  <message name="catalogProductRepositoryV1GetResponse">
    <part name="parameters" element="tns:catalogProductRepositoryV1GetResponse"/>
  </message>

  <!-- salesOrderRepositoryV1 messages -->
  <message name="salesOrderRepositoryV1GetListRequest">
    <part name="parameters" element="tns:salesOrderRepositoryV1GetListRequest"/>
  </message>
  <message name="salesOrderRepositoryV1GetListResponse">
    <part name="parameters" element="tns:salesOrderRepositoryV1GetListResponse"/>
  </message>
  <message name="salesOrderRepositoryV1GetRequest">
    <part name="parameters" element="tns:salesOrderRepositoryV1GetRequest"/>
  </message>
  <message name="salesOrderRepositoryV1GetResponse">
    <part name="parameters" element="tns:salesOrderRepositoryV1GetResponse"/>
  </message>

  <!-- customerRepositoryV1 messages -->
  <message name="customerRepositoryV1GetListRequest">
    <part name="parameters" element="tns:customerRepositoryV1GetListRequest"/>
  </message>
  <message name="customerRepositoryV1GetListResponse">
    <part name="parameters" element="tns:customerRepositoryV1GetListResponse"/>
  </message>

  <!-- ================================================================== -->
  <!-- PORT TYPES                                                           -->
  <!-- ================================================================== -->

  <portType name="catalogProductRepositoryV1PortType">
    <operation name="catalogProductRepositoryV1GetList">
      <documentation>Returns a list of products matching the specified search criteria.</documentation>
      <input message="tns:catalogProductRepositoryV1GetListRequest"/>
      <output message="tns:catalogProductRepositoryV1GetListResponse"/>
    </operation>
    <operation name="catalogProductRepositoryV1Get">
      <documentation>Returns a single product by SKU.</documentation>
      <input message="tns:catalogProductRepositoryV1GetRequest"/>
      <output message="tns:catalogProductRepositoryV1GetResponse"/>
    </operation>
  </portType>

  <portType name="salesOrderRepositoryV1PortType">
    <operation name="salesOrderRepositoryV1GetList">
      <documentation>Returns a list of sales orders matching the specified search criteria.</documentation>
      <input message="tns:salesOrderRepositoryV1GetListRequest"/>
      <output message="tns:salesOrderRepositoryV1GetListResponse"/>
    </operation>
    <operation name="salesOrderRepositoryV1Get">
      <documentation>Returns a single sales order by entity ID.</documentation>
      <input message="tns:salesOrderRepositoryV1GetRequest"/>
      <output message="tns:salesOrderRepositoryV1GetResponse"/>
    </operation>
  </portType>

  <portType name="customerRepositoryV1PortType">
    <operation name="customerRepositoryV1GetList">
      <documentation>Returns a list of customers matching the specified search criteria.</documentation>
      <input message="tns:customerRepositoryV1GetListRequest"/>
      <output message="tns:customerRepositoryV1GetListResponse"/>
    </operation>
  </portType>

  <!-- ================================================================== -->
  <!-- BINDINGS                                                             -->
  <!-- ================================================================== -->

  <binding name="catalogProductRepositoryV1Binding" type="tns:catalogProductRepositoryV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="catalogProductRepositoryV1GetList">
      <soap:operation soapAction="catalogProductRepositoryV1GetList"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="catalogProductRepositoryV1Get">
      <soap:operation soapAction="catalogProductRepositoryV1Get"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <binding name="salesOrderRepositoryV1Binding" type="tns:salesOrderRepositoryV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="salesOrderRepositoryV1GetList">
      <soap:operation soapAction="salesOrderRepositoryV1GetList"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="salesOrderRepositoryV1Get">
      <soap:operation soapAction="salesOrderRepositoryV1Get"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <binding name="customerRepositoryV1Binding" type="tns:customerRepositoryV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="customerRepositoryV1GetList">
      <soap:operation soapAction="customerRepositoryV1GetList"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <!-- ================================================================== -->
  <!-- SERVICE                                                              -->
  <!-- ================================================================== -->

  <service name="AdobeCommerceSoapService">
    <documentation>
      Adobe Commerce (Magento) SOAP API service. For the live WSDL with all
      services, access your store at:
      https://{store_domain}/soap/{store_code}?wsdl_list=1
      (lists all available service names)
      https://{store_domain}/soap/{store_code}?wsdl&amp;services=service1,service2
      (generates combined WSDL for specified services)
    </documentation>

    <port name="catalogProductRepositoryV1Port" binding="tns:catalogProductRepositoryV1Binding">
      <soap:address location="https://your-store.example.com/soap/default"/>
    </port>

    <port name="salesOrderRepositoryV1Port" binding="tns:salesOrderRepositoryV1Binding">
      <soap:address location="https://your-store.example.com/soap/default"/>
    </port>

    <port name="customerRepositoryV1Port" binding="tns:customerRepositoryV1Binding">
      <soap:address location="https://your-store.example.com/soap/default"/>
    </port>
  </service>

</definitions>
